*.pyc
__pycache__/
.env
new_stake_script/.env-api
*.db
*.log
.idea/
venv/
# Exclude some terraform data
.terraform*
*.tfstate
*.tfstate.*
**/.terraform/*
*.tfvars
crash.log
crash.*.log
*.zip
backend.hcl

notes*
txcount*
tx_hist*
*.xml