*.pyc
__pycache__/
.env
*.db
.idea/
venv/
# Exclude some terraform data
/terraform_files/.terraform.lock.hcl
/terraform_files/.terraform/
/terraform_files/terraform.tfstate*
*.zip

notes*
txcount*
*.xml


